<!DOCTYPE html>
<html>
  <head>
    <title>Andrey Who Codes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
    <nav class="bg-blue-500 p-3">
      <%= link_to 'Home', root_path, class: "text-white hover:text-blue-200 mr-4" %>
      <%= link_to 'Blog', blog_posts_path, class: "text-white hover:text-blue-200 mr-4" %>
      <%= link_to 'Portfolio', portfolio_path, class: "text-white hover:text-blue-200 mr-4" %>
    </nav>
    <%= yield %>
  </body>
</html>